<link rel="stylesheet" type="text/css" href="theme/cold_blue/style.css">
<script type="text/javascript" src="theme/cold_blue/ThemeOffice/JSCookMenu.js"></script>
<script type="text/javascript" src="theme/cold_blue/ThemeOffice/config.js"></script>
<link rel="stylesheet" type="text/css" href="theme/cold_blue/ThemeOffice/theme.css">
<script>


</script>
<span style="display:none;float:left">.</span> 
<div id="page" align="center"> 
  <table cellpadding=0 cellspacing=0 height="100%" width="100%"border=0> 
    <tr> 
      <td bgcolor="white" valign="top" colspan="5"><div class="row1closed" id="row1closed" align="left"> 
          <div class="collapse"><a href="javascript:;" onclick="document.getElementById('row1closed').style.display='none';document.getElementById('row1').style.display='block'"><img src="theme/cold_blue/images/collapse_row1_open.png" border="0"></a></div> 
        </div> 
        <div class="row1" id="row1"> 
          <div class="collapse"><a href="javascript:;" onclick="document.getElementById('row1').style.display='none';document.getElementById('row1closed').style.display='block'"><img src="theme/cold_blue/images/collapse_row1_close.png" border="0"></a></div> 
          <div class="logo"><img src="theme/cold_blue/images/logo.png" alt="Xoops CP logo"><img src="theme/cold_blue/images/groove_left.png"></div> 
          <div class="createdby"><img src="theme/cold_blue/images/groove_right.png" width="6" height="48"><img src="theme/cold_blue/images/createdby.png" width="64" height="48"></div> 
          <div class="scroller"></div> 
        </div> 
        <div class="row2closed" id="row2closed" align="left"> 
          <div class="collapse"><a href="javascript:;" onclick="document.getElementById('row2closed').style.display='none';document.getElementById('row2').style.display='block'"><img src="theme/cold_blue/images/collapse_row2_open.png" border="0"></a></div> 
        </div> 
        <div class="row2" id="row2"> 
          <div class="collapse"><a href="javascript:;" onclick="document.getElementById('row2').style.display='none';document.getElementById('row2closed').style.display='block'"><img src="theme/cold_blue/images/collapse_row2_close.png" width="13" height="24" border="0"></a></div> 
          <div class="menu">
            <div style="float:right"><a href="javascript:;" onclick="document.getElementById('frame').src='http://localhost/dev/'">Home</a></div>
            <div id="myMenuID"></div> 
            <script language="JavaScript" type="text/javascript"><!--
            
                    var animMenu =
                    [
                    	['<img class="seq1" src="theme/cold_blue/images/pref_up.png" align="absbottom"><img class="seq2" src="theme/cold_blue/images/pref_dn.png" align="absbottom">', 'Preferences<img src="theme/cold_blue/images/arrow_dn.png" align="absbottom">', null, null, null,
                    		['<img src="theme/cold_blue/ThemeOffice/new.gif">', 'New', null, null, null],
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/open.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/openshadow.gif">', 'Open', null, null, null],
                    		[null, 'Close', null, null, null],
                    		_cmSplit,
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/save.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/saveshadow.gif">', 'Save', null, null, null],
                    		[null, 'Save As', null, null, null],
                    		_cmSplit,
                    		[null, 'Exit', null, null, null]
                    	],
                    	_cmSplit,
                    	['<img class="seq1" src="theme/cold_blue/images/user_up.png" align="absbottom"><img class="seq2" src="theme/cold_blue/images/user_dn.png" align="absbottom">', 'Users<img src="theme/cold_blue/images/arrow_dn.png" align="absbottom">', null, null, null,
                    		['<img src="theme/cold_blue/ThemeOffice/new.gif">', 'New', null, null, null],
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/open.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/openshadow.gif">', 'Open', null, null, null],
                    		[null, 'Close', null, null, null],
                    		_cmSplit,
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/save.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/saveshadow.gif">', 'Save', null, null, null],
                    		[null, 'Save As', null, null, null],
                    		_cmSplit,
                    		[null, 'Exit', null, null, null]
                    	],
                    	_cmSplit,
                    	['<img class="seq1" src="theme/cold_blue/images/block_up.png" align="absbottom"><img class="seq2" src="theme/cold_blue/images/block_dn.png" align="absbottom">', 'Blocks<img src="theme/cold_blue/images/arrow_dn.png" align="absbottom">', null, null, null,
                    		['<img src="theme/cold_blue/ThemeOffice/new.gif">', 'New', null, null, null],
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/open.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/openshadow.gif">', 'Open', null, null, null],
                    		[null, 'Close', null, null, null],
                    		_cmSplit,
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/save.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/saveshadow.gif">', 'Save', null, null, null],
                    		[null, 'Save As', null, null, null],
                    		_cmSplit,
                    		[null, 'Exit', null, null, null]
                    	],
                    	_cmSplit,
                    	['<img class="seq1" src="theme/cold_blue/images/modules_up.png" align="absbottom"><img class="seq2" src="theme/cold_blue/images/modules_dn.png" align="absbottom">', 'Modules<img src="theme/cold_blue/images/arrow_dn.png" align="absbottom">', null, null, null,
                    		['<img src="theme/cold_blue/ThemeOffice/new.gif">', 'New', null, null, null],
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/open.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/openshadow.gif">', 'Open', null, null, null],
                    		[null, 'Close', null, null, null],
                    		_cmSplit,
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/save.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/saveshadow.gif">', 'Save', null, null, null],
                    		[null, 'Save As', null, null, null],
                    		_cmSplit,
                    		[null, 'Exit', null, null, null]
                    	],
                    	_cmSplit,
                    	['<img class="seq1" src="theme/cold_blue/images/media_up.png" align="absbottom"><img class="seq2" src="theme/cold_blue/images/media_dn.png" align="absbottom">', 'Media<img src="theme/cold_blue/images/arrow_dn.png" align="absbottom">', null, null, null,
                    		['<img src="theme/cold_blue/ThemeOffice/new.gif">', 'New', null, null, null],
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/open.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/openshadow.gif">', 'Open', null, null, null],
                    		[null, 'Close', null, null, null],
                    		_cmSplit,
                    		['<img class="seq1" src="theme/cold_blue/ThemeOffice/save.gif"><img class="seq2" src="theme/cold_blue/ThemeOffice/saveshadow.gif">', 'Save', null, null, null],
                    		[null, 'Save As', null, null, null],
                    		_cmSplit,
                    		[null, 'Exit', null, null, null]
                    	]
                    ];
                    cmDraw ('myMenuID', animMenu, 'hbr', cmThemeOffice, 'ThemeOffice');
                    --></script> 
          </div>
          </div></td> 
    </tr> 
    <tr>
	  <td class="menuLeft"><div id="menuLeftinner" class="menuLeftinner"><iframe id='frame'  src="http://localhost/dev/modules/cp/includeFile.php?file=mainmenu.php" style="height:100%;width: 100%;overflow-x: hidden"></iframe><img src="theme/cold_blue/images/spacer.png" width="200" height="1"></div></td>
	  <td class="opcl" id="opcl">
	    <div id="opcl_close" style="display:block"><a href="javascript:;" onclick="document.getElementById('menuLeftinner').style.display='none'; document.getElementById('opcl_open').style.display='block'; document.getElementById('opcl_close').style.display='none'"><img src="theme/cold_blue/images/middle_close.png" border=0></a></div>
	    <div id="opcl_open" style="display:none"><a href="javascript:;" onclick="document.getElementById('menuLeftinner').style.display='block'; document.getElementById('opcl_close').style.display='block'; document.getElementById('opcl_open').style.display='none'"><img src="theme/cold_blue/images/middle_open.png" border=0></a></div>
	  </td>
      <td class="main" id="main"><table cellpadding=0 cellspacing=0 height="100%" width="100%" border=0> 
          <tr> 
            <td height="100%" width="100%"><iframe id='mainframe' name='mainframe' src="http://localhost/dev/modules/system/admin.php?fct=modulesadmin" style="height:100%;width: 100%;overflow-x: hidden"></iframe></td> 
          </tr> 
        </table>
    </tr> 
  </table> 
</div>
<script>

</script>